.navbar {
  padding-top: 0px;
  margin-top: 40px;
}

.intro-container > .row {
  min-height: 32px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.title-row {
  height: 54px;
}

.card {
  margin-bottom: 40px;
}

.card-title {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.profile-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-icons > svg {
  height: 24px;
  width: 24px;
}

.profile-icons > svg:hover {
  cursor: pointer;
}

.contact-icons > svg {
  height: 18px;
  width: 18px;
  margin-right: 3px;
}

.badge {
  color: black;
}